<div class="wrapper ">
    <!-- sidebar -->
  <app-sidebar></app-sidebar>
    <!-- main -->
    <div class="main-panel">
        <!-- navbar -->
        <app-navbar></app-navbar>
	        <div class="content">
		        <div class="container-fluid">
		          <div class="row">
		            <div class="col-md-12">
		              <div class="card card-plain">
		                <div class="card-header card-header-primary">
		                  <h4 class="card-title mt-0"> Journal voucher</h4>
							<button class="btn btn-sm lter-spc">Approve All</button>
		                </div>
		                <div class="card-body">
		                  <div class="table-responsive">
		                    <table class="table table-hover">
		                      <thead class="">
		                        <th>
		                          ID
		                        </th>
		                        <th>
		                          Voucher
		                        </th>
		                        <th>
		                          Voucher Date
		                        </th>
		                        <th>
		                          Reference
		                        </th>
		                        <th>
		                          Amount
		                        </th>
		                        <th>
		                          Status
		                        </th>
		                        <th>
		                          Action
		                        </th>
		                      </thead>
		                      <tbody>
		                        <!-- row 1-->
		                        <tr *ngFor="let Journal of journal_vouchers; index as i">
		                          <td>
		                           {{i+1}}
		                          </td>
		                          <td>
		                            {{Journal.JournalVoucherID}}
		                          </td>
		                          <td>{{Journal.JournalDate}}
		                            
		                          </td>
		                          <td>
		                           {{Journal.ReferenceNo}}
		                          </td>
		                          <td>{{Journal.Amount}}
		                            
		                          </td>
		                          <td *ngIf="Journal.Status == 'A' else elseBlock">
		                            Approved
		                          </td>
		                          	<ng-template #elseBlock>
			                          	<td>
			                          		Unapproved
			                          	</td>
		                      		</ng-template>
		                           <td>
		                            <a (click)="edit()" title="Edit" data-toggle="modal" data-target="#action-edit" ><i class="fa fa-edit action-icon"></i></a>
		                            <a href="#" title="Delete"><i class="fa fa-trash action-icon"></i></a>
		                          </td>
		                        </tr>

		                      </tbody>
		                    </table>
		                  </div>
		                </div><!--// table div-->
		              </div>
		            </div>
		          </div>
		        </div>
	      	</div>
        <!-- footer -->
        <app-footer></app-footer>
    </div>
</div>
