    

            <!-- form -->
	        <div class="form-main">
	          <div class="row">
	            <div class="col-md-6">
	                <input type="text" placeholder="Narration" class="form-control">
	                <input type="text" placeholder="EVoucher" class="form-control">
	            </div>
	            <div class="col-md-6">
	                <input type="date" placeholder="Entry Date" class="form-control">
	                <input type="text" placeholder="Reference No" class="form-control">
	            </div>
	          </div><!-- row -->
	        </div>

            <!--// form-->
           <div class="pop-table-scroll">
              <div class="card-body">
                  <div class="table-responsive">
                    <table class="table table-hover">
                      <thead class="">
                        <th>
                          Account ID
                        </th>
                        <th>
                          Debit
                        </th>
                        <th>
                          Credit
                        </th>
                        <th>
                          Reference
                        </th>
                        <th>
                          Narration
                        </th>
                      </thead>
                      <tbody>
                        <!-- row 1-->
                        <tr>
                          <td>
                            1
                          </td>
                          <td>
                            Dakota Rice
                          </td>
                          <td>
                            27-3-2015
                          </td>
                          <td>
                           
                          </td>
                          <td>
                            $36,738
                          </td>
                        </tr>
                        <!--// row 1-->
                        <!-- row 2 -->
                         <tr>
                          <td>
                            2
                          </td>
                          <td>
                            Dakota Rice
                          </td>
                          <td>
                            27-3-2015
                          </td>
                          <td>
                           
                          </td>
                          <td>
                            $36,738
                          </td>
                        </tr>
                        <!--// row 2-->
                      </tbody>
                    </table>
                  </div>
                </div><!--// table card div-->
           </div>