<div class="wrapper wrapper-full-page">
      <div class="top_nav">
            <div class="row">
                <div class="col-md-4">
                  <h3>Stash inventory</h3>
                </div>
                <div class="col-md-8"></div>
            </div>
      </div>
    <div class="container">
     

      <!--***-->
      <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">

            <!-- form -->
            <div class="card margin-100">
                <div class="card-header card-header-primary">
                  <h4 class="card-title centertext">Login</h4>
                  <p class="card-category"> </p>
                </div>
                <div class="card-body">
                    <form class="login_form">
                        <input type="text" placeholder="User name" class="form-control"><br>
                        <input type="password" placeholder="Password" class="form-control"><br><br>  
                        <!--<center><button class="btn btn-primary">Submit</button></center>-->
                        <a href="#" class="link_button">login</a>
                      </form>
                </div>
              </div>
            <!-- // form -->

        </div>
        <div class="col-md-4"></div>
      </div>
      <!--***-->

    </div>
  </div>