.sidebar[data-color=rose] li.active>a {
    background-color: #e91e63;
    box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(233,30,99,.4);
}
.card-plain .card-header:not(.card-avatar) .card-category, .card-plain .card-header:not(.card-avatar) .card-description {
    color: #f9f6f6 !important;
}
/*======== login page ==========*/

    /*backgorund:#9229ac;*/
.row{
    width: 100%;
}
.link_button{
    font-weight: bold;
    font-size: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.form_main{
    margin-top:100px;
}
.login_form{
    margin-top: 3px;
    background: #fff;
    padding: 38px 27px;
    border-radius: 3px;
}
.cat_head{
    padding: 10px;
    text-align: center;
    text-transform: capitalize;
    color: #fff;
    border-radius: 3px;
    background: linear-gradient(60deg,#9229ac,#9229ac);
    background:0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(156, 39, 176, 0.4);
}
.cat_head h1{
    font-size: 29px;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.centertext{
    text-align: center;
}
.top_nav{
    background: #fff;
    height:auto;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.14);
}
.top_nav h3{
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 500;
    padding-left: 35px;
    padding-bottom: 9px;
}
/*========// login page ==========*/

/*============= form =============*/
.select_field{
    color:#9E9E9E !important;
}
.card-category .form-check{
    margin-top:8px !important;
}
/*=============// form =============*/

/*--------#padding ---------*/
/*.left-10{
    padding-left: 11px !important;
}*/

/*--------// #padding -------*/

/*------- #margin ---------*/
.margin-18{
    margin-top: 18px !important;
}
.margin-35{
    margin-top: 35px;
}
.margin-50{
    margin-top: 50px;
}
.margin-100{
    margin-top:100px !important;
}
/*-------// #margin ---------*/

/*-------- #icon-------*/
.action-icon{
    font-size: 17px;
    padding-left:10px;
}
/*--------// #icon-------*/
.save-button{
    margin-right: 10px !important;
    padding-left: 22px !important;
    padding-right: 22px !important;
}
.pop-table-scroll{
    height: 200px;
    overflow-y: scroll;
    overflow-x: hidden;
    border: 1px soid #9E9E9E;
}
.lter-spc{
    letter-spacing: 1px !important;
}