<div class="modal" id="action-edit" role="dialog">
      <div class="modal-dialog modal-lg">
	        <div class="modal-content">
		          <div class="modal-header">
		            <button type="button" class="close" data-dismiss="modal">&times;</button>
		            <h4 class="modal-title">{{title}}</h4>
		          </div>
		          <div class="modal-body">
		          	<!-- journal voucher content -->
		          		<ng-content></ng-content>
		          	
		          </div>
		          <div class="modal-footer">
		            <button type="button" class="btn btn-default save-button" data-dismiss="modal">Save</button>
		            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
		          </div>
	        </div>
      </div>
 </div>