
<div class="wrapper ">
    <!-- sidebar -->
  <app-sidebar></app-sidebar>
    <!-- main -->
    <div class="main-panel">
        <!-- navbar -->
        <app-navbar></app-navbar>

              <div class="content">
                <div class="container-fluid">
                  <div class="row">

                    <div class="col-md-12">
                      <div class="card">
                        <div class="card-header card-header-primary">
                          <h4 class="card-title ">Users</h4>
                          <p class="card-category"> Here is a subtitle for this table</p>
                        </div>
                        <div class="card-body">
                          <div class="table-responsive">
                            <table class="table">
                              <thead class=" text-primary">
                                <th>
                                  Sl No
                                </th>
                                <th>
                                  Name
                                </th>
                                <th>
                                  Login ID
                                </th>
                                <th>
                                  
                                  Mobile No
                                </th>
                                <th>
                                  Email ID
                                </th>
                              </thead>
                              <tbody>
                                <tr>
                                  <td>
                                    1
                                  </td>
                                  <td>
                                    Dakota Rice
                                  </td>
                                  <td>
                                    Dakota Rice
                                  </td>
                                  <td>
                                    1234567890
                                  </td>
                                  <td class="text-primary">
                                    dakotarice@gmail.com
                                  </td>
                                </tr>
                               <tr>
                                  <td>
                                    2
                                  </td>
                                  <td>
                                    Dakota Rice
                                  </td>
                                  <td>
                                    Dakota Rice
                                  </td>
                                  <td>
                                    1234567890
                                  </td>
                                  <td class="text-primary">
                                    dakotarice@gmail.com
                                  </td>
                                </tr>
                                <tr>
                                  <td>
                                    3
                                  </td>
                                  <td>
                                    Dakota Rice
                                  </td>
                                  <td>
                                    Dakota Rice
                                  </td>
                                  <td>
                                    1234567890
                                  </td>
                                  <td class="text-primary">
                                    dakotarice@gmail.com
                                  </td>
                                </tr>
                               <tr>
                                  <td>
                                    4
                                  </td>
                                  <td>
                                    Dakota Rice
                                  </td>
                                  <td>
                                    Dakota Rice
                                  </td>
                                  <td>
                                    1234567890
                                  </td>
                                  <td class="text-primary">
                                    dakotarice@gmail.com
                                  </td>
                                </tr>
                                <tr>
                                  <td>
                                    5
                                  </td>
                                  <td>
                                    Dakota Rice
                                  </td>
                                  <td>
                                    Dakota Rice
                                  </td>
                                  <td>
                                    1234567890
                                  </td>
                                  <td class="text-primary">
                                    dakotarice@gmail.com
                                  </td>
                                </tr>
                                <tr>
                                  <td>
                                    6
                                  </td>
                                  <td>
                                    Dakota Rice
                                  </td>
                                  <td>
                                    Dakota Rice
                                  </td>
                                  <td>
                                    1234567890
                                  </td>
                                  <td class="text-primary">
                                    dakotarice@gmail.com
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                    </div>
                </div>
              </div>
        <!-- footer -->
        <app-footer></app-footer>
    </div>
</div>




