  <div class="wrapper ">
    <div class="sidebar" data-color="purple" data-background-color="white" data-image="assets/img/sidebar-1.jpg">
    <div class="logo">
      <a href="#" class="simple-text logo-normal">
       Stash Inventory
      </a>
    </div>
    <div class="sidebar-wrapper">
      <ul class="nav">
       <!--<li class="nav-item active  ">
          <a class="nav-link" href="user.html">
            <i class="material-icons">Adminstration</i>
            <p>Adminstration</p>
          </a>
        </li>-->

        <!-- side menu item 1 -->
        <li class="nav-item">
          <a class="nav-link collapsed" data-toggle="collapse" href="#admin-sub" aria-expanded="false">
            <i class="material-icons">person</i>
            <p>Adminstration <b class="caret"></b></p>
          </a>
          <div class="collapse" id="admin-sub" style="">
            <ul class="nav">
                <li class="nav-item active  ">
                    <a class="nav-link" href="user.html">
                     <!-- <span class="sidebar-mini">--><i class="material-icons">person</i>  <!--</span>-->
                      <span class="sidebar-normal"> Users </span>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="#">
                       <!-- <span class="sidebar-mini">--><i class="material-icons">verified_user</i>  <!--</span>-->
                      <span class="sidebar-normal"> Account Information </span>
                    </a>
                </li>
            </ul>
        </div>
        </li>
        <!--// side menu item 1 -->

        <!-- side menu item 2 -->
        <li class="nav-item ">
          <a class="nav-link collapsed" data-toggle="collapse" href="#accounts-sub" aria-expanded="false">
            <i class="material-icons">dashboard</i>
            <p>Accounts<b class="caret"></b></p>
          </a>
          <div class="collapse" id="accounts-sub">
            <ul class="nav">
                <li class="nav-item ">
                    <a class="nav-link" href="journal_vouchers.html">
                      <!-- <span class="sidebar-mini">--><i class="material-icons">file_copy</i>  <!--</span>-->
                      <span class="sidebar-normal"> Journal Voucher </span>
                    </a>
                </li>
            </ul>
        </div>
        </li>
        <!--// side menu item 2 -->

         <!-- side menu item 3 -->
         <li class="nav-item">
          <a class="nav-link collapsed" data-toggle="collapse" href="#purchase-sub" aria-expanded="false">
            <i class="material-icons">shoping_cart</i>
            <p>Purchase<b class="caret"></b></p>
          </a>
          <div class="collapse" id="purchase-sub">
            <ul class="nav">
                <li class="nav-item ">
                    <a class="nav-link" href="#">
                      <span class="sidebar-mini"> <i class="fa fa-shopping-cart"></i> </span>
                      <span class="sidebar-normal">RFQ </span>
                    </a>
                </li>
                <li class="nav-item ">
                  <a class="nav-link" href="#">
                      <span class="sidebar-mini"> <i class="fa fa-shopping-cart"></i> </span>
                    <span class="sidebar-normal">Purchase Quotation </span>
                  </a>
              </li>
              <li class="nav-item ">
                <a class="nav-link" href="#">
                  <span class="sidebar-mini"> &nbsp; </span>
                  <span class="sidebar-normal">Purchase Order </span>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="#">
                  <span class="sidebar-mini"> &nbsp; </span>
                  <span class="sidebar-normal">Purchase Coasting </span>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="#">
                  <span class="sidebar-mini"> &nbsp; </span>
                  <span class="sidebar-normal">Purchase Invoice </span>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="#">
                  <span class="sidebar-mini"> &nbsp; </span>
                  <span class="sidebar-normal">Purchase Return </span>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="#">
                  <span class="sidebar-mini"> &nbsp; </span>
                  <span class="sidebar-normal">Purchase Payment </span>
                </a>
            </li>
            </ul>
        </div>
        </li>
        <!--// side menu item 3 -->

        <!-- side menu item 4 -->
        <li class="nav-item">
          <a class="nav-link collapsed" data-toggle="collapse" href="#sales-sub" aria-expanded="false">
            <i class="material-icons">library_books</i>
            <p>Sales<b class="caret"></b></p>
          </a>
          <div class="collapse" id="sales-sub">
            <ul class="nav">
                <li class="nav-item ">
                    <a class="nav-link" href="#">
                      <span class="sidebar-mini"> &nbsp; </span>
                      <span class="sidebar-normal">Sales Request </span>
                    </a>
                </li>
                <li class="nav-item ">
                  <a class="nav-link" href="#">
                    <span class="sidebar-mini"> &nbsp; </span>
                    <span class="sidebar-normal">Sales Quotation </span>
                  </a>
              </li>
              <li class="nav-item ">
                <a class="nav-link" href="#">
                  <span class="sidebar-mini"> &nbsp; </span>
                  <span class="sidebar-normal">Sales Order </span>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="#">
                  <span class="sidebar-mini"> &nbsp; </span>
                  <span class="sidebar-normal">Sales Coasting </span>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="#">
                  <span class="sidebar-mini"> &nbsp; </span>
                  <span class="sidebar-normal">Sales Invoice </span>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="#">
                  <span class="sidebar-mini"> &nbsp; </span>
                  <span class="sidebar-normal">Sales Return </span>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="#">
                  <span class="sidebar-mini"> &nbsp; </span>
                  <span class="sidebar-normal">Sales Payment </span>
                </a>
            </li>
            </ul>
        </div>
        </li>
        <!--// side menu item 4 -->

       <!-- side menu item 5 -->
        <li class="nav-item">
          <a class="nav-link collapsed" data-toggle="collapse" href="#inventory-sub" aria-expanded="false">
            <i class="material-icons">trending_up</i>
            <p>Inventory<b class="caret"></b></p>
          </a>
          <div class="collapse" id="inventory-sub">
            <ul class="nav">
                <li class="nav-item ">
                    <a class="nav-link" href="#">
                      <span class="sidebar-mini"> &nbsp; </span>
                      <span class="sidebar-normal"> Goods recieved notes </span>
                    </a>
                </li>
                <li class="nav-item ">
                  <a class="nav-link" href="#">
                    <span class="sidebar-mini"> &nbsp; </span>
                    <span class="sidebar-normal"> Stock transfer request </span>
                  </a>
              </li>
              <li class="nav-item ">
                  <a class="nav-link" href="#">
                    <span class="sidebar-mini"> &nbsp; </span>
                    <span class="sidebar-normal"> Stock transfer </span>
                  </a>
              </li>
              <li class="nav-item ">
                  <a class="nav-link" href="#">
                    <span class="sidebar-mini"> &nbsp; </span>
                    <span class="sidebar-normal"> Live stock </span>
                  </a>
              </li>

            </ul>
        </div>
        </li>
        <!--// side menu item 5 -->
       
               <!-- side menu item 5 -->
               <li class="nav-item">
                <a class="nav-link collapsed" data-toggle="collapse" href="#report-sub" aria-expanded="false">
                  <i class="material-icons">assignment</i>
                  <p>Report<b class="caret"></b></p>
                </a>
                <div class="collapse" id="report-sub">
                  <ul class="nav">
                      <li class="nav-item ">
                          <a class="nav-link" href="#">
                            <span class="sidebar-mini"> &nbsp; </span>
                            <span class="sidebar-normal">Balnce sheet </span>
                          </a>
                      </li>
                      <li class="nav-item ">
                        <a class="nav-link" href="#">
                          <span class="sidebar-mini"> &nbsp; </span>
                          <span class="sidebar-normal"> Account statement </span>
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="#">
                          <span class="sidebar-mini"> &nbsp; </span>
                          <span class="sidebar-normal"> Trial balance </span>
                        </a>
                    </li>
      
                  </ul>
              </div>
              </li>
              <!--// side menu item 5 -->
        <!-- <li class="nav-item active-pro ">
              <a class="nav-link" href="./upgrade.html">
                  <i class="material-icons">unarchive</i>
                  <p>Upgrade to PRO</p>
              </a>
          </li> -->
      </ul>
    </div>
    </div>
    <div class="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <a class="navbar-brand" href="#pablo">Users</a>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end">
            <form class="navbar-form">
              <div class="input-group no-border">
                <input type="text" value="" class="form-control" placeholder="Search...">
                <button type="submit" class="btn btn-white btn-round btn-just-icon">
                  <i class="material-icons">search</i>
                  <div class="ripple-container"></div>
                </button>
              </div>
            </form>
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="#pablo">
                  <i class="material-icons">dashboard</i>
                  <p class="d-lg-none d-md-block">
                    Stats
                  </p>
                </a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="material-icons">notifications</i>
                  <span class="notification">5</span>
                  <p class="d-lg-none d-md-block">
                    Some Actions
                  </p>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="#">Mike John responded to your email</a>
                  <a class="dropdown-item" href="#">You have 5 new tasks</a>
                  <a class="dropdown-item" href="#">You're now friend with Andrew</a>
                  <a class="dropdown-item" href="#">Another Notification</a>
                  <a class="dropdown-item" href="#">Another One</a>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#pablo">
                  <i class="material-icons">person</i>
                  <p class="d-lg-none d-md-block">
                    Account
                  </p>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>